body {
    width: 300px;
    height: 250px;
    background-color: rgba(0, 238, 79, 0.89);
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
   
    color: rgb(4, 63, 255);
    border-radius: 6px;
    border: 1px solid rgb(253, 0, 0);
    padding: 10px;
}